<div class="flex mx-auto justify-center items-center">
  <div class="grid grid-cols-1 xl:grid-cols-3 gap-6 m-8">
    <div *ngFor="let deck of decks; index as id"
         class="flex flex-col rounded-2xl w-full xl:w-96 bg-[#ffffff] text-[#374151] shadow-xl">
      <div class="flex flex-col p-8 h-full">
        <div class="text-3xl  font-bold pb-6">{{ deck.name }}</div>
        <div class=" text-lg pb-12">Quantidade de cartas {{ deck.cards.length }}</div>
        <div class="flex pt-10">
          <button (click)="get(id)"
                  class="w-full bg-yellow-500 hover:bg-yellow-700 m-2 text-[#ffffff] font-bold text-base p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">
            Detalhes
          </button>
          <button (click)="update(id)"
                  class="w-full bg-blue-500 hover:bg-blue-700 m-2 text-[#ffffff] font-bold text-base p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">
            Editar
          </button>
          <button (click)="removeDeck(id)"
                  class="w-full bg-red-500 hover:bg-red-700 m-2 text-[#ffffff] font-bold text-base p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">
            Remover
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="detail" class="flex mx-auto justify-center items-center">
  <div class="grid grid-cols-1 xl:grid-cols-1 gap-6 m-8">
    <div class="flex pt-10">
      <button class="w-full bg-[#7e22ce] text-[#ffffff] font-bold text-base p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform" (click)="hide();">Ocultar</button>
    </div>
    <div class="flex flex-col rounded-2xl w-full xl:w-96 bg-[#ffffff] text-[#374151] shadow-xl">
      <div class="flex flex-wrap p-8 h-full">
        <div class="text-3xl  font-bold pb-6"> {{ deck.name }}</div>
        <div class="flex flex-col gap-2">
          <div class="grid grid-cols-1 xl:grid-cols-3 ">
            <div class="w-32 h-5 rounded-xl">
              Total: <span class="text-blue-600">{{ deck.cards.length }}</span>
            </div>
            <div class="w-32 h-5 rounded-xl">
              Pokémon: <span class="text-blue-600">{{ getCardsCountSuperType('Pokémon') }}</span>
            </div>
            <div class="w-32 h-5 rounded-xl">
              Trainer: <span class="text-blue-600">{{ getCardsCountSuperType('Trainer') }}</span>
            </div>
            <div class="w-32 h-5 rounded-xl">
              Energy: <span class="text-blue-600">{{ getCardsCountSuperType('Energy') }}</span>
            </div>
            <div class="w-32 h-5 rounded-xl">
              Multiple: <span class="text-blue-600">{{ countCards.multipleType }}</span>
            </div>
            <div class="w-32 h-5 rounded-xl">
              Unique: <span class="text-blue-600">{{ countCards.uniqueType }}</span>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2 mt-6">
          <div class="grid grid-cols-1 xl:grid-cols-3 ">
            <div class="w-32 h-5 rounded-xl font-bold" >
              Types
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <div class="grid grid-cols-1 xl:grid-cols-3 ">
            <div class="w-32 h-5 rounded-xl" *ngFor="let item of countCards.typeFind">
              {{ item.name }}: <span class="text-green-600">{{ item.value }}</span>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>



<div class="p-4">
  <div class="overlay" id="divOverlay" #divOverlay (click)="closeImage()">
    <div class="image-popup">
      <img id="imageZoom" src="" alt="" #imageZoom>
    </div>
  </div>
</div>
<div *ngIf="detail" class="flex flex-wrap py-4 gap-4 flex-wrap justify-center max-h-[500px]  overflow-y-auto">
  <div *ngFor="let card of deck.cards"
       class="flex relative hover:scale-105 border-4 rounded-2xl">
    <img class="max-w-40" [src]="card.images.small" (click)="openImage(card)"/>
  </div>
</div>


<div class="flex flex-col items-center m-auto">
  <div class="flex-row">
    <button [routerLink]="'/'"
            class="bg-blue-500 hover:bg-blue-700 m-2 text-[#ffffff] font-bold text-base p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">
      Home
    </button>
    <button (click)="dropDecks()"
            class="bg-red-500 hover:bg-red-700 m-2 text-[#ffffff] font-bold text-base p-3 rounded-lg hover:bg-purple-800 active:scale-95 transition-transform transform">
      Excluir todos baralhos
    </button>
  </div>
</div>
